<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/DA2E198288BFCA56AB53340211B38DE7134E40E4521EDCAFE6FFB8CD69250DE9/scale?width=2880&aspectRatio=1.78&format=jpeg"
        alt="imagem do título"
        height="200px"
      />
    </div>

    <div class="small-card__title">
      <h1><a href="">Saiu a nova versão do angular</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
